* {
              margin: 0;
              padding: 0;
}
          
.timelinechart-info {
              text-align: center;
              margin-left: 20px;
}
          
.colm-box {
              display: flex;
              margin-top: 42px;
              align-items: first baseline;
}
          
.colm {
          
              margin: 0 2px;
              background: rgb(253, 152, 152);
}